.Splash{
    padding-top: 25px;
}

.toggleHeader{
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
}


.buttonteam{
    background-color: blue;
    border-radius: 20px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#moblie{
    display: none;
}

@media only screen and (max-width: 450px) {
  
    #notmoblie{
        display: none;
    }

    #moblie{
        display: contents;
    }
}
