.text{
    font-size: 100%;
}

.pokesprite{
    height: 50%;
    width: 70%;
}

.pokeslot{
    height: 18rem;
    background-color: red;
    border: solid white 1rem;
    overflow: auto;
    
}

.black{
    padding: .3rem;
    background-color: white;
}

.deletecenter{
    text-align: center;
}

.deleteSave:hover {
    color: red;
    cursor: pointer;
}


